@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #71C597;
  color: #292929; font-family:
  "Maven Pro"; font-weight: 600;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: "Rokkitt";
}

code {
  background: #ccc;
  color: #292929;
  padding: 4px 6px;
  border-radius: 8px;
}

header {
  display: flex;
  align-items: center;
}

.name {
  margin: 5px 0 0 12px;
}

.logo {
  width: 80px;
  padding: 8px;
}

.tagline {
  font-family: "Maven Pro";
}