@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6 { 
  font-family: "Rokkitt";
}

h2 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

p {
  margin-bottom: 1.3rem;
}

a {
  text-decoration: underline;
  text-underline-offset: .2rem;
}

table {
  margin-bottom: 1.3rem;
}

td {
  padding: 2px 8px;
  border: 1px solid theme('colors.black');
}

code {
  display: inline-block;
  margin: 0 2px;
  padding: 0 5px;
  color: theme('colors.black');
  background-color: theme('colors.green-lite');
  border-radius: 8px;
}